{% extends 'base.html' %}

{% block content %}

    <main class="main__content_wrapper">

        <!-- Start checkout page area -->
        <div class="checkout__page--area section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="main checkout__mian">
                            <form action="#">
                                <div class="checkout__content--step section__contact--information">
                                    <div class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                        <h2 class="section__header--title h3">Контактная информация</h2>
                                        {% if not user.is_authenticated %}
                                            <p class="layout__flex--item">
                                                У Тебя уже есть аккаунт ?
                                                <a class="layout__flex--item__link"
                                                   href="{% url 'users:login' %}">Войти</a>
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>


                                <form id="form" method="post">
                                    <div>

                                    </div>

                                    <div class="checkout__content--step section__shipping--address">
                                        <div class="section__header mb-25">
                                            <h2 class="section__header--title h3">Billing Details</h2>
                                        </div>
                                        <div class="section__shipping--address__content">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 mb-20">
                                                    <div class="checkout__input--list ">
                                                        <label class="checkout__input--label mb-5" for="input1">Полное
                                                            Имя
                                                            <span class="checkout__input--label__star">*</span></label>
                                                        <input class="checkout__input--field border-radius-5"
                                                               id="name" type="text" placeholder="Full name*"
                                                               autocomplete="off"
                                                               value="{{ shipping_address.full_name }}" required>

                                                    </div>
                                                </div>

                                                <div class="col-12 mb-20">
                                                    <div class="checkout__input--list">
                                                        <label class="checkout__input--label mb-5" for="input3">
                                                            Электронная почта
                                                            <span class="checkout__input--label__star">*</span></label>
                                                        <input class="checkout__input--field border-radius-5"
                                                               id="email" type="email"
                                                               placeholder="Email address*"
                                                               autocomplete="off" value="{{ shipping_address.email }}"
                                                               required>

                                                    </div>
                                                </div>
                                                <div class="col-12 mb-20">
                                                    <div class="checkout__input--list">
                                                        <label class="checkout__input--label mb-5" for="input4">Адрес
                                                            <span class="checkout__input--label__star">*</span></label>
                                                        <input class="checkout__input--field border-radius-5"
                                                               id="address1" type="text"
                                                               placeholder="Street address*"
                                                               autocomplete="off"
                                                               value="{{ shipping_address.street_address }}"
                                                               required>

                                                    </div>
                                                </div>

                                                <div class="col-12 mb-20">
                                                    <div class="checkout__input--list">
                                                        <label class="checkout__input--label mb-5" for="input5">Город
                                                            <span class="checkout__input--label__star">*</span></label>
                                                        <input class="checkout__input--field border-radius-5"
                                                               id="city" type="text"
                                                               placeholder="City*" autocomplete="off"
                                                               value="{{ shipping_address.city }}" required>

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-20">
                                                    <div class="checkout__input--list">
                                                        <label class="checkout__input--label mb-5" for="country">Страна
                                                            <span class="checkout__input--label__star">*</span></label>
                                                        <input class="checkout__input--field border-radius-5"
                                                               id="state" type="text" placeholder="Country"
                                                               autocomplete="off"
                                                               value="{{ shipping_address.country }}">


                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-20">
                                                    <div class="checkout__input--list">
                                                        <label class="checkout__input--label mb-5" for="input6">Почтовый
                                                            код
                                                            <span class="checkout__input--label__star">*</span></label>
                                                        <input class="checkout__input--field border-radius-5"
                                                               placeholder="Postal code" id="input6" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>


                                <div class="order-notes mb-20">
                                    <label class="checkout__input--label mb-5" for="order">Order Notes <span
                                            class="checkout__input--label__star">*</span></label>
                                    <textarea class="checkout__notes--textarea__field border-radius-5" id="order"
                                              placeholder="Notes about your order, e.g. special notes for delivery."
                                              spellcheck="false"></textarea>
                                </div>
                                <div class="checkout__content--step__footer d-flex align-items-center">
                                    <a class="continue__shipping--btn primary__btn border-radius-5"
                                       href="{% url 'product:index' %}">Продолжить покупки</a>
                                    <a class="previous__link--content" href="{% url 'cart:cart' %}">Вернутся в
                                        корзину</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6">
                        <aside class="checkout__sidebar sidebar border-radius-10">
                            <h2 class="checkout__order--summary__title text-center mb-15">Ваш заказ</h2>
                            {% for item in cart %}
                                    <div class="cart__table checkout__product--table">
                                        <table class="cart__table--inner">
                                            <tbody class="cart__table--body">
                                            <tr class="cart__table--body__items">
                                                <td class="cart__table--body__list">
                                                    <div class="product__image two  d-flex align-items-center">
                                                        <div class="product__thumbnail border-radius-5">
                                                            <a class="display-block"
                                                               href=""><img
                                                                    class="display-block border-radius-5"
                                                                    src="{{ item.product.main_image.url }}"
                                                                    alt="cart-product"></a>
                                                            <span class="product__thumbnail--quantity">{{ item.qty }}</span>
                                                        </div>
                                                        <div class="product__description">
                                                            <h4 class="product__description--name"><a
                                                                    href="">{{ item.name }}</a>
                                                            </h4>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cart__table--body__list">
                                                    <span class="cart__price">${{ item.price|floatformat:1 }}</span>
                                                </td>
                                                <td class="cart__table--body__list">
                                                    <span class="cart__price">${% widthratio item.price 1 item.qty %}</span>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                            {% endfor %}
                            <div class="checkout__discount--code">
                                <form class="d-flex" action="#">
                                    <label>
                                        <input class="checkout__discount--code__input--field border-radius-5"
                                               placeholder="Gift card or discount code" type="text">
                                    </label>
                                    <button class="checkout__discount--code__btn primary__btn border-radius-5"
                                            type="submit">Apply
                                    </button>
                                </form>
                            </div>
                            <div class="checkout__total">
                                <table class="checkout__total--table">
                                    <tbody class="checkout__total--body">
                                    <tr class="checkout__total--items">
                                        <td class="checkout__total--title text-left">Subtotal</td>
                                        <td class="checkout__total--amount text-right">
                                            ${{ cart.get_total_price }}</td>
                                    </tr>
                                    <tr class="checkout__total--items">
                                        <td class="checkout__total--title text-left">Shipping</td>
                                        <td class="checkout__total--calculated__text text-right">Calculated at
                                            next
                                            step
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot class="checkout__total--footer">
                                    <tr class="checkout__total--footer__items">
                                        <td class="checkout__total--footer__title checkout__total--footer__list text-left">
                                            Total
                                        </td>
                                        <td class="checkout__total--footer__amount checkout__total--footer__list text-right">
                                            $860.00
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment__history mb-30">
                                <h3 class="payment__history--title mb-20">Payment</h3>
                                <ul class="payment__history--inner d-flex">
                                    <li class="payment__history--list">
                                        <button class="payment__history--link primary__btn" type="submit">Credit
                                            Card
                                        </button>
                                    </li>
                                    <li class="payment__history--list">
                                        <button class="payment__history--link primary__btn" type="submit">Bank
                                            Transfer
                                        </button>
                                    </li>
                                    <li class="payment__history--list">
                                        <button class="payment__history--link primary__btn" type="submit">Paypal
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <button class="checkout__now--btn primary__btn"
                                    type="submit">{{ paypal_payment_button.render }}</button>
                        </aside>
                    </div>

                </div>
            </div>
        </div>
        <!-- End checkout page area -->

        <!-- Start shipping section -->
        <section class="shipping__section">
            <div class="container">
                <div class="shipping__inner style2 d-flex">
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">
                            <img src="assets/img/other/shipping1.webp" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Free Shipping</h2>
                            <p class="shipping__content--desc">Free shipping over $100</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">
                            <img src="assets/img/other/shipping2.webp" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Support 24/7</h2>
                            <p class="shipping__content--desc">Contact us 24 hours a day</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">
                            <img src="assets/img/other/shipping3.webp" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">100% Money Back</h2>
                            <p class="shipping__content--desc">You have 30 days to Return</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">
                            <img src="assets/img/other/shipping4.webp" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Payment Secure</h2>
                            <p class="shipping__content--desc">We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shipping section -->
    </main>
{% endblock %}