<div id="mini-cart-content">
    {% for item in basket %}
        {% with product=item.product %}
            <div class="minicart__product">
                <div class="minicart__product--items d-flex">
                    <div class="minicart__thumb">
                        <a href="{{ product.get_absolute_url }}"><img
                                src="{{ product.main_image.url }}"
                                alt="prduct-img"></a>
                    </div>
                    <div class="minicart__text">
                        <h4 class="minicart__subtitle"><a
                                href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                        <div class="minicart__price">
                            <span class="minicart__current--price">${{ product.price }}</span>

                        </div>
                        <div class="minicart__text--footer d-flex align-items-center">
                            <div class="quantity__box minicart__quantity">
                                <span class="minicart__subtitle">Кол-во: {{ item.qty }}</span>
                            </div>
                            <button class="minicart__product--remove" type="button">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="minicart__amount_list d-flex justify-content-between">
                <span>Sub Total:</span>
                <span><b>$ {{ item.total_price }}</b></span>
            </div>
        {% endwith %}
    {% endfor %}
</div>