{% extends 'base.html' %}

{% block content %}

    <main class="main__content_wrapper">

        <!-- Start checkout page area -->
        <div class="checkout__page--area section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="main checkout__mian">
                            <div class="checkout__content--step section__contact--information">
                                <div class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                    <h2 class="section__header--title h3">Контактная информация</h2>
                                </div>

                            </div>
                            <form method="post" class="order-form">
                                {{ form.as_p }}

                                <p><input type="submit" value="Place order"></p>
                                {% csrf_token %}

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>
{% endblock %}
