{% extends 'base.html' %}
{% block content %}
    <main class="main__content_wrapper">
        <!-- my account section start -->
        <section class="my__account--section section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard"
                                       role="tab" aria-controls="dashboard" aria-selected="false"><i
                                            class="fi-rs-settings-sliders mr-10"></i>Личный кабинет</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                                       aria-controls="orders" aria-selected="false"><i
                                            class="fi-rs-shopping-bag mr-10"></i>Заказы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders"
                                       role="tab" aria-controls="track-orders" aria-selected="false"><i
                                            class="fi-rs-shopping-cart-check mr-10"></i>Отследить ваш заказ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"
                                       aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>Мой
                                        адрес</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                       href="#account-detail" role="tab" aria-controls="account-detail"
                                       aria-selected="true"><i class="fi-rs-user mr-10"></i>Детали личного кабинета</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:logout' %}"><i
                                            class="fi-rs-sign-out mr-10"></i>Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content account dashboard-content pl-50">
                            <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                 aria-labelledby="dashboard-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="mb-0">Hello {{ user.username }}!</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            From your account dashboard. you can easily check &amp; view your <a
                                                href="#">recent orders</a>,<br/>
                                            manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit
                                            your password and account details.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="mb-0">Ваши заказы</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Заказ</th>

                                                    <th>Дата</th>
                                                    <th>Статус</th>
                                                    <th>Сумма</th>
                                                    <th>Посмотреть</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        <td>#{{ order.id }}</td>
                                                        <td>{{ order.order_date }}</td>
                                                        <td>Processing</td>
                                                        <td>${{ order.price }}</td>
                                                        <td><a href="#" class="btn-small d-block">View</a></td>
                                                    </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                 aria-labelledby="track-orders-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="mb-0">Orders tracking</h3>
                                    </div>
                                    <div class="card-body contact-from-area">
                                        <p>To track your order please enter your OrderID in the box below and press
                                            "Track" button. This was given to you on your receipt and in the
                                            confirmation email you should have received.</p>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                    <div class="input-style mb-20">
                                                        <label>Order ID</label>
                                                        <input name="order-id"
                                                               placeholder="Found in your order confirmation email"
                                                               type="text"/>
                                                    </div>
                                                    <div class="input-style mb-20">
                                                        <label>Billing email</label>
                                                        <input name="billing-email"
                                                               placeholder="Email you used during checkout"
                                                               type="email"/>
                                                    </div>
                                                    <button class="submit submit-auto-width" type="submit">Track
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <h3 class="mb-0">Billing Address</h3>
                                            </div>
                                            {% for a in address %}
                                                <div class="card-body">
                                                    {{ a.user.first_name }}
                                                    {{ a.user.last_name }}
                                                    <address>
                                                        {{ a.address }}
                                                    </address>
                                                    <p>New York</p>
                                                    <div class="account__details--footer d-flex">
                                                        <button class="account__details--footer__btn" type="button">Edit
                                                        </button>
                                                        <button class="account__details--footer__btn" type="button">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Shipping Address</h5>
                                            </div>
                                            <div class="card-body">
                                                <address>
                                                    4299 Express Lane<br/>
                                                    Sarasota, <br/>FL 34249 USA <br/>Phone: 1.941.227.4444
                                                </address>
                                                <p>Sarasota</p>
                                                <div class="account__details--footer d-flex">
                                                    <button class="account__details--footer__btn" type="button">Edit
                                                    </button>
                                                    <button class="account__details--footer__btn" type="button">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#                                <div class="account__wrapper">#}
                                {#                                    <div class="account__content">#}
                                {#                                        <h2 class="account__content--title h3 mb-20">Addresses</h2>#}
                                {#                                        <button class="new__address--btn primary__btn mb-25" type="button">Add a new#}
                                {#                                            address#}
                                {#                                        </button>#}
                                {#                                        <div class="account__details two">#}
                                {#                                            <h3 class="account__details--title h4">Default</h3>#}
                                {#                                            <p class="account__details--desc">Admin <br> Dhaka <br> Dhaka 12119 <br>#}
                                {#                                                Bangladesh</p>#}
                                {#                                            <a class="account__details--link" href="my-account-2.html">View Addresses#}
                                {#                                                (1)</a>#}
                                {#                                        </div>#}
                                {#                                        <div class="account__details--footer d-flex">#}
                                {#                                            <button class="account__details--footer__btn" type="button">Edit</button>#}
                                {#                                            <button class="account__details--footer__btn" type="button">Delete</button>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>
                            <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                 aria-labelledby="account-detail-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Account Details</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Already have an account? <a href="page-login.html">Log in instead!</a></p>
                                        <form method="post" name="enq">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>First Name <span class="required">*</span></label>
                                                    <input required="" class="form-control" name="name" type="text"/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Last Name <span class="required">*</span></label>
                                                    <input required="" class="form-control" name="phone"/>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Display Name <span class="required">*</span></label>
                                                    <input required="" class="form-control" name="dname" type="text"/>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Email Address <span class="required">*</span></label>
                                                    <input required="" class="form-control" name="email" type="email"/>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit"
                                                            class="btn btn-fill-out submit font-weight-bold"
                                                            name="submit" value="Submit">Save Change
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form method="post">
                                            <div class="form-group col-md-12">
                                                <label>Current Password <span class="required">*</span></label>
                                                <input required="" class="form-control" name="password"
                                                       type="password"/>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>New Password <span class="required">*</span></label>
                                                <input required="" class="form-control" name="npassword"
                                                       type="password"/>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Confirm Password <span class="required">*</span></label>
                                                <input required="" class="form-control" name="cpassword"
                                                       type="password"/>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit"
                                                        class="btn btn-fill-out submit font-weight-bold"
                                                        name="submit" value="Submit">Save Change
                                                </button>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- my account section end -->

    </main>

{% endblock %}