{% extends 'base.html' %}

{% block content %}
    <main class="main__content_wrapper" id="cart-list">
        <!-- cart section start -->
        <section class="cart__section section--padding">
            <div class="container-fluid">
                <div class="cart__section--inner">

                    <h2 class="cart__title mb-30">Shopping Cart</h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cart__table">
                                <table class="cart__table--inner">
                                    <thead class="cart__table--header">
                                    <tr class="cart__table--header__items">
                                        <th class="cart__table--header__list">Товар</th>
                                        <th class="cart__table--header__list text-center">Название</th>
                                        <th class="cart__table--header__list">Цена</th>
                                        <th class="cart__table--header__list">Кол-во</th>
                                        <th class="cart__table--header__list">Сумма</th>
                                    </tr>
                                    </thead>
                                    <tbody class="cart__table--body">


                                    {% for item in cart %}
                                        {% with product=item.product %}
                                            <tr class="cart__table--body__items" data-product-id="{{ product.id }}">
                                                <td class="cart__table--body__list">
                                                    <div class="cart__product d-flex align-items-center">
                                                        <div class="cart__thumbnail">
                                                            <a href="{{ item.url }}"><img class="border-radius-5"
                                                                                          src="{{ product.main_image.url }}"
                                                                                          alt="cart-product"></a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cart__table--body__items" style="max-width: 70%;">
                                                    <div class="cart__content">
                                                        <h4 class="cart__content--title h4"
                                                            style="word-wrap: break-word;">
                                                            <a href="">{{ product.name }}</a>
                                                        </h4>
                                                    </div>
                                                </td>
                                                <td class="cart__table--body__list">
                                                    <span class="cart__price">{{ item.price|floatformat:1 }}</span>
                                                </td>
                                                <td class="cart__table--body__list">
                                                    <div class="quantity__box">
                                                        <button type="button" class="quantity__value decrease">-
                                                        </button>
                                                        <input type="number" class="quantity__number"
                                                               value="{{ item.qty }}"
                                                               data-product-id="{{ product.id }}">
                                                        <button type="button" class="quantity__value increase">+
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="cart__table--body__list">
                                                    <span class="cart__price end">{{ product.price }}</span>
                                                </td>
                                                <td class="cart__table--body__list">
                                                    <button type="button" class="cart__remove--btn delete-button"
                                                            data-index="{{ product.id }}">
                                                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 24 24" width="16px" height="16px">
                                                            <path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"></path>
                                                        </svg>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}


                                    </tbody>
                                </table>
                                <div class="continue__shopping d-flex justify-content-between">
                                    <a class="continue__shopping--link" href="{% url 'product:index' %}">Продолжить
                                        покупки</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart__summary border-radius-10">
                                <div class="coupon__code mb-30">
                                    <h3 class="coupon__code--title">Coupon</h3>
                                    <p class="coupon__code--desc">Enter your coupon code if you have one.</p>
                                    <div class="coupon__code--field d-flex">
                                        <label>
                                            <input class="coupon__code--field__input border-radius-5"
                                                   placeholder="Coupon code" type="text">
                                        </label>
                                        <button class="coupon__code--field__btn primary__btn" type="submit">Apply
                                            Coupon
                                        </button>
                                    </div>
                                </div>
                                <div class="cart__summary--total mb-20">
                                    <table class="cart__summary--total__table">
                                        <tbody>
                                        <tr class="cart__summary--total__list">
                                            <td class="cart__summary--total__title text-left">SUBTOTAL</td>
                                            <td>

                                                <div id="cart-total-amount"
                                                     class="cart__summary--amount text-right"> {{ cart.get_total_price }}
                                                </div>


                                            </td>
                                        </tr>
                                        <tr class="cart__summary--total__list">
                                            <td class="cart__summary--total__title text-left">GRAND TOTAL</td>
                                            <td class="cart__summary--amount text-right">$860.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart__summary--footer">
                                    <p class="cart__summary--footer__desc">Shipping & taxes calculated at
                                        checkout</p>
                                    <ul class="d-flex justify-content-between">
                                        <li>
                                            <button class="cart__summary--footer__btn primary__btn cart"
                                                    type="submit">Update Cart
                                            </button>
                                        </li>
                                        <li><a class="cart__summary--footer__btn primary__btn checkout"
                                               href="{% url 'payment:checkout' %}">Оформить заказ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- cart section end -->
    </main>


{% endblock %}